/*Code Optimize*/
.vertical{
    vertical-align: middle;
}
.display{
    display: inline-block;
}
.font{
    font-family: 'BPG Nino Mtavruli Bold';
}
.font-2{
    font-family: 'BPG Nino Mtavruli';
}
/*Header  Style*/
.nav{
    margin-left: 50px;
}
.nav-li{
    margin-left: 22px;
}
.navigation-a{
    font-size: 22px;
    color: #3D58A6;
    transition: all 0.8s;
}
.navigation-a:hover{
    color: rgb(16, 185, 129);
}
.color {
    color: #EE4036;
}
/*Section Style*/
.section-div{
    width: 56px;
    height: 56px;
    background-color: #3D58A6;
    font-size: 48px;
    color: white;
    padding: 6px 1px;
}
.section-p{
    margin-top: 10px;
    color: #3D58A6;
    font-size: 22px;
    
}
.section-h{
    font-size: 20px;
    margin-top: 23px;
    margin-bottom: 17px;
}
.section-box{
    width: 930px;
    height: 360px;
    margin-left: 39px;
}
.vertical-align{
    vertical-align: top;
}
.p1{
    margin-bottom: 30px;
    font-size: 16px;
    font-family: 'BPG Ingiri Arial';
}